*{
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  
  body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  /*--content--------------------------*/
  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .content-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .content-heading span {
    color: #f33c3c;
  }
  .content-heading h3 {
    font-size: 2.4rem;
    color: #55DD33;
    font-weight: 600;
  }
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  
  .content-box {
    width:350px;
    background-color: #d8d8d8;
    border: 1px solid #000442;
    margin: 20px 20px;
  
  }
  .ontenty-img {
    width:100%;
    height: auto;
  }
  .content-img img {
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .content-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .content-text span {
    color: #f33c3c;
    font-size: 0.9rem;
  }
  .content-text .content-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #09005c;
  }
  .content-text p {
    color: #1928ac;
    font-size: 0.9rem;
    display: -webkit-box;
    /*-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;*/
    margin: 20px 0px;
  }
  .content-text a {
    color: #0f0f0f;
  }
  .content-text a:hover {
    color: #c74242;
    transition: all ease 0.3s;
  }
  @media(max-width:1250px){
  
    .content-box {
        width: 300px;
    }
  } 
  @media(max-width:1250px){
    .content-box {
        width:300;
    }
  }
  
  @media(max-width:1250px){
    .content-box{
        margin: 20px 10px;
        width: 100%;
    }
    #content{
        padding:20px;
    }
  }
  
  

  
  
  
  